body {
    background: $screengray;
    margin: 0;
    padding: 2rem;
    height: 100vh;
    color: $blackboard;
    font-family: "Public Sans", sans-serif;
    font-size: 1rem;

    @include breakpoint-down(medium) {
        font-size: 0.9rem;
        padding: 1rem;
    }

    @include breakpoint-down(small) {
        font-size: 0.7rem;
        padding: 0;
    }

}

a {
    text-decoration: none;
    color: $darkBlue;
}

#search-hint {}

.carousel-item {
    width: 50%;
}

.carousel-item-size-1 {
    width: 100%;
}

.carousel-item-size-2 {
    width: 50%;
}


#desktop-cards,
#dropdown,
#desktop-carousel-controls,
.result-label-desktop {
    display: none;
}

#mobile-cards,
#mobile-carousel-controls {
    display: flex;
}

@include breakpoint-up(medium) {
    #desktop-cards,
    #dropdown,
    #desktop-carousel-controls,
    .result-label-desktop {
        display: flex;
    }

    #desktop-cards {
        align-items: center;
        justify-content: center;
    }

    #mobile-cards,
    #mobile-carousel-controls {
        display: none;
    }
}

#mobile-carousel-controls,
#desktop-carousel-controls {
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.carousel-size-button.selected {
    background-color: $carbon;
}


#mobile-carousel-controls button,
#desktop-carousel-controls button {
    padding: 5px; 
    margin: 5px; 
    border: 2px solid $blackboard; 
    background-color: $blackboard; 
    border-radius: 5px;
    color: $backwhite; 
    font-size: 16px; 
    cursor: pointer;
    transition: background-color 0.3s ease;
    // add a box shadow to the button, tasteful
    box-shadow: 0 0 3px $carbon;

    img {
        width: 1.5rem;
        height: 1.5rem;
    }

}

#mobile-carousel-controls button:hover:not(:disabled),
#desktop-carousel-controls button:hover:not(:disabled) {
  background-color: $darkBlue;
}

#mobile-carousel-controls button:disabled,
#desktop-carousel-controls button:disabled {
    opacity: 0.5;
    cursor: not-allowed; 
    pointer-events: none; 
}

.result-label,
.result-label-desktop {
  text-align: center;
  padding: 0.3 rem;
  font-size: 1 rem;
}

.result-label-desktop {
    display: flex;
    justify-content: space-between;
}


#num-results-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#num-results-found {
    font-weight: bold;
}

#resultsText {
    font-size: 1rem;
}

#numResultsSelect {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}


// Flexbox
.flex {
    display: flex;

    &-jc-r {
        justify-content: flex-end;
    }

    &-jc-sb {
        justify-content: space-between;
    }

    &-jc-c {
        justify-content: center;
    }

    &-ai-c {
        align-items: center;
    }

    &-col {
        flex-direction: column;
    }

    &-row {
        flex-direction: row;
    }
}

.container {

    &-search {
        padding: 5rem;
    }

}

.row {}

.title-cards {
    ul {
        align-self: flex-start;
    }
}


.col {
    flex: 1;
    margin: 0.5rem;
    padding: 0.25rem;
    background: $neutral;
    //border: 2px solid $watermelon;
    border-radius: 0.5rem;
    box-shadow: 0 0 4px $carbon;
    min-height: 150px;
    align-items: center;
}

.ingredients {}

.description {}



.ingredients {

    ul {
        list-style: none;
        padding: 0;
    }

    li {
        height: 4rem;
        min-height: 4rem;
        margin: 0.5rem;
        padding-top: 0.1rem;
        padding-right: 0.1rem;
        padding-bottom: 0.1rem;
        padding-left: 0.5rem;
        background: $backwhite;
        //border: 2px solid $watermelon;
        border-radius: 0.25rem;
        overflow: hidden;
        display: flex;
        align-items: center;
        box-shadow: 0 0 3px $carbon;
        transition: scale 200ms ease-in-out;


        @include breakpoint-down(small) {
            height: 3rem;
            min-height: 3rem;
        }

        &:hover {
            overflow: visible;
            height: auto;
            scale: 1.02;
            cursor: grab;
        }

        &.active {
            overflow: visible;
            height: auto;
            scale: 1.02;
            cursor: grab;
        }

    }

}

.sortable-ghost,
.sortable-chosen,
.sortable-drag {
    overflow: visible;
    height: auto;
    scale: 1.02;
}


.instructions {

    ul {
        list-style: none;
        padding: 0;
    }

    li {
        height: auto;
        min-height: 4rem;
        margin: 0.5rem;
        padding-top: 0.7rem;
        padding-right: 0.3rem;
        padding-bottom: 0.7rem;
        padding-left: 0.5rem;
        background: $backwhite;
        //border: 2px solid $watermelon;
        border-radius: 0.25rem;
        overflow: hidden;
        display: flex;
        align-items: center;
        box-shadow: 0 0 3px $carbon;


        @include breakpoint-down(small) {
            min-height: 5rem;
        }

        &:hover {
            overflow: visible;
            height: auto;
        }

    }

}

.ingredients li.empty,
.instructions li.empty {
    background: $backwhite50;
    cursor: default;

    &:hover {
        scale: 1;
    }
}



.hints {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    i {
        padding-right: 0.5rem;
    }

}


.search {
    width: 100%;
    position: relative;
    display: flex;
    padding-top: 0.7rem;
}

.searchTerm {
    width: 100%;
    border: 3px solid $blackboard;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: $carbon;
}

.searchTerm:focus {
    color: $blackboard
}

.searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid $blackboard;
    background: $blackboard;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap {
    margin-top: 1rem;

    form {
        display: flex;
        min-width: 300px;
        max-width: 50vw;
    }
}