//colors

$darkBlue: hsl(233, 27%, 57%);
$darkGreen: hsl(139, 27%, 57%);
$sky: (#CAEBF2);
$carbon: (#A9A9A9);
$screengray: (#F5F5F5);
$blackboard: (#565656);
$watermelon: (#FF3B3F);
$neutral: (#EFEFEF);
$backwhite: (#FCFCFC);

// $backwhite 50% opacity
$backwhite50: rgba(252, 252, 252, 0.5);
