<%- include('header') %>

  <div class="flex flex-jc-c flex-ai-c">
    <div class="policy-box">

      <h2>About</h2>

      <p>Welcome to The Recipe Comparator</p>

    </div>
  </div>

  <%- include('footer') %>