<footer>
    <div class="footer">

        <div class="footer__links">
    
          <a href="/privacy-policy">Privacy Policy</a>
          <a href="/contact">Contact</a>
          <a href="/terms-of-service">Terms of Service</a>
        </div>
    
        <div class="footer__copyright has-darkmode darkmode">
          &copy; CS27 All Rights Reserved.
        </div>
    
      </div>
</footer>
</body>
</html>
