<%- include('header') %>

  <div class="flex flex-jc-c flex-ai-c">
    <div class="policy-box">

      <h2>Privacy Policy</h2>

      <h4> 1. Introduction </h4>

      <p>Welcome to Recipe Comparator ("we," "us," or "our").</p>

      <p>Recipe Comparator is a product developed and maintained by CS27 LLC. This privacy policy will help you
        understand what information we collect, how we use it, and what choices you have when you use our website
        https://recipecomparator.com ("Site").</p>

      <p>By using our Site, you hereby consent to our privacy policy and agree to its terms.</p>

      <h4> 2. What Data Do We Collect and Why? </h4>

      <p>We collect several types of information for various purposes:</p>

      <h5> 2.1 Personal Data </h5>

      <p>While using our Site, we may ask you to provide us with certain personally identifiable information that can be
        used to contact or identify you ("Personal Data"). Personal Data may include, but is not limited to:</p>
      <ul>
        <li>Email address (optional)</li>
        <li>Usage Data (e.g., recipe search queries)</li>
      </ul>

      <h5> 2.2 Usage Data </h5>

      <p>We may also collect information how the Site is accessed and used ("Usage Data"). This Usage Data may include
        information such as your computer's Internet Protocol address (e.g., IP address), browser type, browser version,
        the pages of our Site that you visit, the time and date of your visit, the time spent on those pages, unique
        device identifiers, and other diagnostic data.</p>

      <h5> 2.3 Tracking & Cookies Data </h5>

      <p>We use cookies and similar tracking technologies to track the activity on our Site and hold certain
        information.</p>

      <p>Cookies are files with a small amount of data which may include an anonymous unique identifier. Cookies are
        sent to your browser from a website and stored on your device.</p>

      <h4> 3. How Do We Use the Data? </h4>

      <p>CS27 LLC uses the collected data for various purposes:</p>
      <ul>
        <li>To provide and maintain our Site</li>
        <li>To track the usage of our Site</li>
        <li>To gather analysis or valuable information so that we can improve our Site</li>
        <li>To monitor the usage of our Site</li>
        <li>To detect, prevent and address technical issues</li>
      </ul>

      <h4> 4. Google analytics </h4>

      <p>We use Google Analytics to monitor and analyze the use of our Site. Google Analytics is a web analytics service
        offered by Google that tracks and reports website traffic. This data is shared with other Google services.
        Google may use the collected data to contextualize and personalize the ads of its own advertising network. For
        more information on the privacy practices of Google, please visit the Google Privacy & Terms web page:
        http://www.google.com/intl/en/policies/privacy/.</p>

      <h4> 5. Links To Other Sites </h4>

      <p>Our Site may contain links to other sites that are not operated by us. If you click on a third-party link, you
        will be directed to that third party's site. We strongly advise you to review the Privacy Policy of every site
        you visit. We have no control over and assume no responsibility for the content, privacy policies or practices
        of any third-party sites or services.</p>

      <h4> 6. Children's Privacy </h4>

      <p>Our Service does not address anyone under the age of 13 ("Children"). We do not knowingly collect personally
        identifiable information from anyone under the age of 13. If you are a parent or guardian and you are aware that
        your Child has provided us with Personal Data, please contact us. If we become aware that we have collected
        Personal Data from children without verification of parental consent, we take steps to remove that information
        from our servers.</p>

      <h4> 7. Data Retention </h4>

      <p>We will retain your Personal Data only for as long as is necessary for the purposes set out in this Privacy
        Policy. We will retain and use your Personal Data to the extent necessary to comply with our legal obligations
        (for example, if we are required to retain your data to comply with applicable laws), resolve disputes and
        enforce our legal agreements and policies.</p>

      <h4> 8. Data Security </h4>

      <p>The security of your data is important to us, but remember that no method of transmission over the Internet or
        method of electronic storage is 100% secure. While we strive to use commercially acceptable means to protect
        your Personal Data, we cannot guarantee its absolute security.</p>

      <h4> 9. Changes to This Privacy Policy </h4>

      <p>We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new
        Privacy Policy on this page. You are advised to review this Privacy Policy periodically for any changes. Changes
        to this Privacy Policy are effective when they are posted on this page.</p>

      <h4> 10. Contact Us </h4>

      <p>If you have any questions about this Privacy Policy, please <a href="/contact">contact us</a>.</p>

      <p>This document was last updated on June 13, 2023.</p>

    </div>
  </div>

  <%- include('footer') %>