<%- include('header') %>

  <div class="flex flex-jc-c flex-ai-c">
    <div class="policy-box">

      <h2> TERMS OF SERVICE </h2>


      <h4> 1. Introduction </h4>

      <p>Welcome to Recipe Comparator, a product developed and maintained by CS27 LLC ("we," "us," "our"). Please read
        these Terms of Service ("Terms") carefully before using our website https://recipecomparator.com ("Site").</p>

      <p>Your access to and use of the Site is conditioned upon your acceptance of and compliance with these Terms.
        These Terms apply to all visitors, users and others who wish to access or use the Site.</p>

      <p>By accessing or using the Site you agree to be bound by these Terms.</p>

      <h4> 2. Intellectual Property </h4>

      <p>The Site and its original content, features and functionality are and will remain the exclusive property of
        CS27 LLC and its licensors. The Site is protected by copyright, trademark, and other laws of both the United
        States and foreign countries. Our trademarks and trade dress may not be used in connection with any product or
        service without the prior written consent of CS27 LLC.</p>

      <h4> 3. External Links </h4>

      <p>Our Site may contain links to third party websites or services that are not owned or controlled by CS27 LLC. We
        have no control over, and assume no responsibility for the content, privacy policies, or practices of any
        third-party websites or services.</p>

      <p>You acknowledge and agree that CS27 LLC shall not be responsible or liable, directly or indirectly, for any
        damage or loss caused or alleged to be caused by or in connection with the use of or reliance on any such
        content, goods or services available on or through any such third party websites or services.</p>

      <h4> 4. Recipe Data </h4>

      <p>Our Site does not host, store, or cache any content and merely provides a way to search and compare recipes
        that are publicly available via Google Search. All recipe information is attributed to its source website, and
        we claim no ownership over any recipe content. We merely facilitate its discovery and comparison.</p>

      <h4> 5. Termination </h4>

      <p>We reserve the right to terminate or suspend access to our Site immediately, without prior notice or liability,
        under our sole discretion, for any reason whatsoever and without limitation, including but not limited to a
        breach of the Terms.</p>


      <h4> 6. User Conduct </h4>

      <p>While using the Site, you agree not to: commit any acts of infringement on the Site, or anything else that
        could cause harm to the Site, CS27 LLC, or other users. This includes, but is not limited to, illegal
        activities, harassment, hacking, privacy breaches, or distribution of harmful or malicious software.</p>


      <h4> 7. Data Integrity Statement </h4>

      <p>You acknowledge that Recipe Comparator operates by scraping data from other websites. As such, we do not
        guarantee the accuracy, integrity, or quality of such content. Under no circumstances will CS27 LLC be liable in
        any way for any content, including, but not limited to, any errors or omissions in any content, or any loss or
        damage of any kind incurred as a result of the use of any content posted, emailed, transmitted or otherwise made
        available via the Site.</p>


      <h4> 8. Limitation Of Liability </h4>

      <p>In no event shall CS27 LLC, nor its directors, employees, partners, agents, suppliers, or affiliates, be liable
        for any indirect, incidental, special, consequential or punitive damages, including without limitation, loss of
        profits, data, use, goodwill, or other intangible losses, resulting from (i) your access to or use of or
        inability to access or use the Site; (ii) any conduct or content of any third party on the Site; (iii) any
        content obtained from the Site; and (iv) unauthorized access, use or alteration of your transmissions or
        content, whether based on warranty, contract, tort (including negligence) or any other legal theory, whether or
        not we have been informed of the possibility of such damage, and even if a remedy set forth herein is found to
        have failed of its essential purpose.</p>



      <h4> 9. Changes </h4>

      <p>We reserve the right, at our sole discretion, to modify or replace these Terms at any time. By continuing to
        access or use our Site after any revisions become effective, you agree to be bound by the revised terms. If you
        do not agree to the new terms, you are no longer authorized to use the Site.</p>

      <h4> 10. Governing Law </h4>

      <p>These Terms shall be governed and construed in accordance with the laws of the United States, without regard
        to its conflict of law provisions.</p>


      <h4> 11. Contact Us </h4>

      <p>If you have any questions about these Terms, please <a href="/contact">contact us</a>.</p>

      <p>This document was last updated on June 13, 2023.</p>
    </div>
  </div>

<%- include('footer') %>