body {
  background: #F5F5F5;
  margin: 0;
  padding: 2rem;
  height: 100vh;
  color: #565656;
  font-family: "Public Sans", sans-serif;
  font-size: 1rem;
}
@media (max-width: 63.9375em) {
  body {
    font-size: 0.9rem;
    padding: 1rem;
  }
}
@media (max-width: 39.9375em) {
  body {
    font-size: 0.7rem;
    padding: 0;
  }
}

a {
  text-decoration: none;
  color: hsl(233, 27%, 57%);
}

.carousel-item {
  width: 50%;
}

.carousel-item-size-1 {
  width: 100%;
}

.carousel-item-size-2 {
  width: 50%;
}

#desktop-cards,
#dropdown,
#desktop-carousel-controls,
.result-label-desktop {
  display: none;
}

#mobile-cards,
#mobile-carousel-controls {
  display: flex;
}

@media (min-width: 40em) {
  #desktop-cards,
  #dropdown,
  #desktop-carousel-controls,
  .result-label-desktop {
    display: flex;
  }
  #desktop-cards {
    align-items: center;
    justify-content: center;
  }
  #mobile-cards,
  #mobile-carousel-controls {
    display: none;
  }
}
#mobile-carousel-controls,
#desktop-carousel-controls {
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.carousel-size-button.selected {
  background-color: #A9A9A9;
}

#mobile-carousel-controls button,
#desktop-carousel-controls button {
  padding: 5px;
  margin: 5px;
  border: 2px solid #565656;
  background-color: #565656;
  border-radius: 5px;
  color: #FCFCFC;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 0 3px #A9A9A9;
}
#mobile-carousel-controls button img,
#desktop-carousel-controls button img {
  width: 1.5rem;
  height: 1.5rem;
}

#mobile-carousel-controls button:hover:not(:disabled),
#desktop-carousel-controls button:hover:not(:disabled) {
  background-color: hsl(233, 27%, 57%);
}

#mobile-carousel-controls button:disabled,
#desktop-carousel-controls button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

.result-label,
.result-label-desktop {
  text-align: center;
  padding: 0.3 rem;
  font-size: 1 rem;
}

.result-label-desktop {
  display: flex;
  justify-content: space-between;
}

#num-results-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#num-results-found {
  font-weight: bold;
}

#resultsText {
  font-size: 1rem;
}

#numResultsSelect {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.flex {
  display: flex;
}
.flex-jc-r {
  justify-content: flex-end;
}
.flex-jc-sb {
  justify-content: space-between;
}
.flex-jc-c {
  justify-content: center;
}
.flex-ai-c {
  align-items: center;
}
.flex-col {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}

.container-search {
  padding: 5rem;
}

.title-cards ul {
  align-self: flex-start;
}

.col {
  flex: 1;
  margin: 0.5rem;
  padding: 0.25rem;
  background: #EFEFEF;
  border-radius: 0.5rem;
  box-shadow: 0 0 4px #A9A9A9;
  min-height: 150px;
  align-items: center;
}

.ingredients ul {
  list-style: none;
  padding: 0;
}
.ingredients li {
  height: 4rem;
  min-height: 4rem;
  margin: 0.5rem;
  padding-top: 0.1rem;
  padding-right: 0.1rem;
  padding-bottom: 0.1rem;
  padding-left: 0.5rem;
  background: #FCFCFC;
  border-radius: 0.25rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  box-shadow: 0 0 3px #A9A9A9;
  transition: scale 200ms ease-in-out;
}
@media (max-width: 39.9375em) {
  .ingredients li {
    height: 3rem;
    min-height: 3rem;
  }
}
.ingredients li:hover {
  overflow: visible;
  height: auto;
  scale: 1.02;
  cursor: grab;
}
.ingredients li.active {
  overflow: visible;
  height: auto;
  scale: 1.02;
  cursor: grab;
}

.sortable-ghost,
.sortable-chosen,
.sortable-drag {
  overflow: visible;
  height: auto;
  scale: 1.02;
}

.instructions ul {
  list-style: none;
  padding: 0;
}
.instructions li {
  height: auto;
  min-height: 4rem;
  margin: 0.5rem;
  padding-top: 0.7rem;
  padding-right: 0.3rem;
  padding-bottom: 0.7rem;
  padding-left: 0.5rem;
  background: #FCFCFC;
  border-radius: 0.25rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  box-shadow: 0 0 3px #A9A9A9;
}
@media (max-width: 39.9375em) {
  .instructions li {
    min-height: 5rem;
  }
}
.instructions li:hover {
  overflow: visible;
  height: auto;
}

.ingredients li.empty,
.instructions li.empty {
  background: rgba(252, 252, 252, 0.5);
  cursor: default;
}
.ingredients li.empty:hover,
.instructions li.empty:hover {
  scale: 1;
}

.hints {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.hints i {
  padding-right: 0.5rem;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
  padding-top: 0.7rem;
}

.searchTerm {
  width: 100%;
  border: 3px solid #565656;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #A9A9A9;
}

.searchTerm:focus {
  color: #565656;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #565656;
  background: #565656;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap {
  margin-top: 1rem;
}
.wrap form {
  display: flex;
  min-width: 300px;
  max-width: 50vw;
}

.header {
  right: 0;
  left: 0;
  top: 0;
}
.header nav {
  position: relative;
  margin: auto;
  height: auto;
}
@media (max-width: 39.9375em) {
  .header nav {
    flex-direction: column;
    justify-content: center;
  }
}
.header__logo {
  text-decoration: none;
}
.header__logo p {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  text-align: center;
  font-family: "Rubik", sans-serif;
  font-size: 2rem;
  padding: 0 1.5rem;
  color: #565656;
  transition: color 500ms ease-in-out, text-shadow 500ms ease-in-out;
}
.header__logo p:hover {
  color: rgb(255, 183, 49);
  text-shadow: 0 0 2px white;
}
.header__links {
  padding-top: 0.5rem;
}
@media (max-width: 39.9375em) {
  .header__links {
    text-align: center;
  }
}
.header__links a {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  text-decoration: none;
  position: relative;
  color: #565656;
  transition: color 500ms ease-in-out, text-shadow 500ms ease-in-out;
}
.header__links a:hover {
  color: rgb(255, 183, 49);
  text-shadow: 0 0 2px white;
}

.card-text, .card-footer {
  padding: 1rem;
  margin-bottom: 0;
}
@media (max-width: 63.9375em) {
  .card-text, .card-footer {
    padding: 0.5rem;
  }
}
@media (max-width: 39.9375em) {
  .card-text, .card-footer {
    padding: 0.1rem;
  }
}
.card-body {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1;
  margin-bottom: auto;
}
.card-body ul {
  list-style: none;
}
.card-title {
  text-align: center;
}
.card-title a {
  font-size: 1.3rem;
  transition: all 300ms ease-in-out;
}
@media (max-width: 63.9375em) {
  .card-title a {
    font-size: 1rem;
  }
}
.card-title a:hover {
  text-shadow: 0 0 1px hsl(233, 27%, 57%);
}
.title-cards ul {
  padding-bottom: 0.5rem;
  padding-left: 10px;
}
@media (min-width: 40em) {
  .title-cards ul {
    padding-left: 20px;
  }
}

.policy-box {
  max-width: 800px;
  padding: 1rem;
}

.footer {
  position: relative;
  height: 70px;
  width: 100%;
  text-align: center;
  font-size: 0.7rem;
  color: #A9A9A9;
  padding-top: 1rem;
}
.footer__social {
  padding-top: 0.5rem;
}
.footer__links {
  padding-top: 0.5rem;
}
.footer__links a {
  color: #A9A9A9;
  padding-left: 0.1rem;
  padding-right: 0.1rem;
}
.footer__links a:hover {
  color: rgb(255, 183, 49);
  transition: color 500ms ease-in-out;
}
.footer__copyright {
  padding-top: 0.5rem;
}

legend {
  font-size: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

fieldset {
  border: 0px solid #A9A9A9;
  border-radius: 1rem;
  padding-top: 1.7rem;
  padding-left: 1.3rem;
  padding-right: 1.3rem;
  overflow: hidden;
  color: #FCFCFC;
  background-color: #e7e7e7;
  box-shadow: 0 10px 10px hsla(0, 0%, 0%, 0.17);
}

.invalid-feedback {
  position: relative;
  top: -15px;
  color: #FF3B3F;
  padding-bottom: 1rem;
}

.contact {
  width: 800px;
  max-width: 800px;
  background-color: #F5F5F5;
  position: relative;
  padding: 1rem;
  padding-top: 1rem;
}
.contact h2 {
  color: #565656;
  padding-bottom: 1rem;
}
.contact h4 {
  text-align: center;
}
.contact .btn-group {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.contact .g-recaptcha {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.contact-form-wrapper {
  text-align: center;
}
@media (min-width: 40em) {
  .contact-form-wrapper {
    max-width: 50vw;
    margin: auto;
  }
}
.contact-form-wrapper .form-item {
  position: relative;
}
.contact-form-wrapper label {
  position: absolute;
  top: 10px;
  left: 2%;
  color: #565656;
  font-size: clamp(14px, 1.5vw, 18px);
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  margin-top: 5px;
}
.contact-form-wrapper input,
.contact-form-wrapper textarea {
  box-sizing: border-box;
  margin-right: auto;
  width: 100%;
  outline: 0;
  border: 2px solid #A9A9A9;
  border-radius: 4px;
  margin-top: 5px;
  margin-bottom: 20px;
  padding: 12px;
  font-size: clamp(15px, 1.5vw, 18px);
  background-color: #FCFCFC;
}
.contact-form-wrapper textarea {
  resize: vertical;
  min-height: 200px;
}
.contact-form-wrapper input:focus + label,
.contact-form-wrapper input:valid + label,
.contact-form-wrapper textarea:focus + label,
.contact-form-wrapper textarea:valid + label {
  font-size: clamp(13px, 1.3vw, 16px);
  color: #565656;
  top: -20px;
  transition: all 0.225s ease;
}

.form-submit {
  justify-content: center;
  align-items: center;
}

.form-submit {
  padding: 1rem;
  margin: 0.5rem;
  border: 1px solid #A9A9A9;
  background-color: #e7e7e7;
  border-radius: 5px;
  color: #565656;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 0 3px #A9A9A9;
}

.form-submit:hover {
  color: #FCFCFC;
  background-color: #A9A9A9;
}

#message-box {
  max-width: 800px;
  margin: auto;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: opacity 2s; /* defines the duration of the fade-out effect */
}
#message-box.success {
  color: #155724; /* Bootstrap success text color */
  background-color: #d4edda; /* Bootstrap success background color */
  border-color: #c3e6cb; /* Bootstrap success border color */
}
#message-box.error {
  color: #721c24; /* Bootstrap danger text color */
  background-color: #f8d7da; /* Bootstrap danger background color */
  border-color: #f5c6cb; /* Bootstrap danger border color */
}
#message-box.blank {
  color: inherit;
  background-color: inherit;
  border-color: inherit;
}
#message-box.fade {
  opacity: 0;
}/*# sourceMappingURL=style.css.map */